{% extends 'AdminTemplateBundle::base.html.twig' %}
{% block title %}Edit Product Brand{% endblock %}
{% set page_title %}Edit Product Brand{% endset%}
{% block body -%}
{{ tinymce_init() }}
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                {{page_title}}
            </header> 
            <div class="panel-body">
{% set buttonName %}Main Image{% endset %}
                {% set buttonId %}SingleFileuploadMain{% endset %}
                {% set prograss %}SingleProgressMain{% endset %}
                {% set filesContainer %}SingleFilesMain{% endset %}
                {% include "FileUploaderBundle::single-basic-plusjs.html.twig" %}
                <br class="clear"/>
                <div class="row">
                    <div class="col-lg-2 mainlist">
                            {% if mainImage %} 
                        <div class="col-lg-12 center">
                            <img src="{{ asset("uploads/product-brands/" ~ entity.id ~ "/"  ~ mainImage.id) }}"  height="69" width="100">
                        </div>
                        <div class="col-lg-10">
                            <a title="" data-placement="top" data-toggle="tooltip" href="#" onclick="javascript:del('{{mainImage.id}}')" class="btn btn-danger btn-xs btn-block tooltips" data-original-title="Delete">Delete</a>
                        </div>
           {% endif %}
                    </div>
                </div>
                <br class="clear"/>
                {% set buttonName %}Logo{% endset %}
                {% set buttonId %}SingleFileuploadLogo{% endset %}
                {% set prograss %}SingleProgressLogo{% endset %}
                {% set filesContainer %}SingleFilesLogo{% endset %}
                {% include "FileUploaderBundle::single-basic-plusjs.html.twig" %}
                <div class="row">
                    <div class="col-lg-2 logolist">
                            {% if logoImage %} 
                        <div class="col-lg-12 center">
                            <img src="{{ asset("uploads/product-brands/" ~ entity.id ~ "/"  ~ logoImage.id) }}"  height="69" width="100">
                        </div>
                        <div class="col-lg-10">
                            <a title="" data-placement="top" data-toggle="tooltip" href="#" onclick="javascript:del('{{logoImage.id}}')" class="btn btn-danger btn-xs btn-block tooltips" data-original-title="Delete">Delete</a>
                        </div>
           {% endif %}
                    </div>
                </div>
                <form class="form-horizontal tasi-form" action="{{ path('product-brand_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
                    <input type="hidden" name="_method" value="PUT" />
    {{ form_widget(edit_form) }}



                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                            <button class="btn btn-primary" type="submit">Update</button>
                            <button type="reset" class="btn btn-default">Cancel</button>
                        </div>
                    </div>
                </form>
                <form class="form-horizontal tasi-form" hidden name="delete_form" id="delete_form" action="{{ path('product-brandimages_delete', { 'h_id': entity.id  , 'redirect_id' : 1 }) }}" method="POST"  >
                    <input type="hidden" name="id" id="imageId" />
                </form>
                <a class="btn btn-round btn-info" href="{{ path('product-brand') }}"><i class="icon-undo"></i> Back to the list</a>
            </div>
        </section>
    </div>
</div>
{% endblock %}
{% block javascripts  %}
{{ parent() }}
{% include "FileUploaderBundle::basejs.html.twig" %}
<script type="text/javascript" src="{{ asset('bundles/admintemplate/js/jquery.slug.js') }}"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $("#md_bundle_cmsbundle_productbrand_name").slug({
            slug: 'slug', // class of input / span that contains the generated slug 
            hide: false        // hide the text input, true by default 
        });
    });
</script>

<script type="text/javascript">
    /*jslint unparam: true, regexp: true */
    /*global window, $ */
    $(function() {
        'use strict';
        // Change this to the location of your server-side upload handler:
        var url = '{{ path('product-brand_create_images' , { 'id': entity.id , 'type' : logoType }) }}',
                uploadButton = $('<button/>')
                .addClass('btn btn-primary')
                .prop('disabled', true)
                .text('Processing...')
                .on('click', function() {
                    var $this = $(this),
                            data = $this.data();
                    $this
                            .hide()
                            .off('click')
                            .text('Abort')
                            .on('click', function() {
                                $this.remove();
                                data.abort();
                            });
                    data.submit().always(function() {
                        $this.remove();
                    });

                });
        $('#SingleFileuploadLogo').fileupload({
            url: url,
            dataType: 'json',
            autoUpload: false,
            acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
            maxFileSize: 5000000, // 5 MB
            // Enable image resizing, except for Android and Opera,
            // which actually support image resizing, but fail to
            // send Blob objects via XHR requests:
            disableImageResize: /Android(?!.*Chrome)|Opera/
                    .test(window.navigator.userAgent),
            previewMaxWidth: 100,
            previewMaxHeight: 100,
            previewCrop: true
        }).on('fileuploadadd', function(e, data) {
            data.context = $('<div/>').appendTo('#SingleFilesLogo');
            $('#SingleProgressLogo .progress-bar').show();
            $.each(data.files, function(index, file) {
                var node = $('<p/>')
                        .append($('<span/>').text(file.name));
                if (!index) {
                    node
                            .append('<br>')
                            .append(uploadButton.clone(true).data(data));
                }
                node.appendTo(data.context);
            });
        }).on('fileuploadprocessalways', function(e, data) {
            var index = data.index,
                    file = data.files[index],
                    node = $(data.context.children()[index]);
            if (file.preview) {
                node
                        .prepend('<br>')
                        .prepend(file.preview);
            }
            if (file.error) {
                node
                        .append('<br>')
                        .append($('<span class="text-danger"/>').text(file.error));
            }
            if (index + 1 === data.files.length) {
                data.context.find('button')
                        .text('Upload')
                        .prop('disabled', !!data.files.error);
            }
        }).on('fileuploadprogressall', function(e, data) {
            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('#SingleProgressLogo .progress-bar').css(
                    'width',
                    progress + '%'
                    );
        }).on('fileuploaddone', function(e, data) {
            $.each(data.result.files, function(index, file) {
                if (file.url) {
                    var link = $('<a>')
                            .attr('target', '_blank')

                            .prop('href', file.url)
                            .hide();
                    $('#SingleProgressLogo .progress-bar').css(
                            'width',
                            0 + '%'
                            );
                    var deleteLink = "<a class='delete' href='javascript:del(" + file.id + ")' id='delete_link'>Delete</a>";
                    var imageUrl = "<li><img src=" + file.url + " width='50' height='60'>";
                    $(".logolist").empty().append(imageUrl + deleteLink + "</li>");
                    $(data.context.children()[index])
                            .wrap(link);
                } else if (file.error) {
                    var error = $('<span class="text-danger"/>').text(file.error);
                    $(data.context.children()[index])
                            .append('<br>')
                            .append(error);
                }
            });
        }).on('fileuploadfail', function(e, data) {
            $.each(data.files, function(index, file) {
                var error = $('<span class="text-danger"/>').text('File upload failed.');
                $(data.context.children()[index])
                        .append('<br>')
                        .append(error);
            });
        }).prop('disabled', !$.support.fileInput)
                .parent().addClass($.support.fileInput ? undefined : 'disabled');
    });
</script>

<script type="text/javascript">
    /*jslint unparam: true, regexp: true */
    /*global window, $ */
    $(function() {
        'use strict';
        // Change this to the location of your server-side upload handler:
        var url = '{{ path('product-brand_create_images' , { 'id': entity.id , 'type' : mainType }) }}',
                uploadButton = $('<button/>')
                .addClass('btn btn-primary')
                .prop('disabled', true)
                .text('Processing...')
                .on('click', function() {
                    var $this = $(this),
                            data = $this.data();
                    $this
                            .hide()
                            .off('click')
                            .text('Abort')
                            .on('click', function() {
                                $this.remove();
                                data.abort();
                            });
                    data.submit().always(function() {
                        $this.remove();
                    });

                });
        $('#SingleFileuploadMain').fileupload({
            url: url,
            dataType: 'json',
            autoUpload: false,
            acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
            maxFileSize: 5000000, // 5 MB
            // Enable image resizing, except for Android and Opera,
            // which actually support image resizing, but fail to
            // send Blob objects via XHR requests:
            disableImageResize: /Android(?!.*Chrome)|Opera/
                    .test(window.navigator.userAgent),
            previewMaxWidth: 100,
            previewMaxHeight: 100,
            previewCrop: true
        }).on('fileuploadadd', function(e, data) {
            data.context = $('<div/>').appendTo('#SingleFilesMain');
            $('#SingleProgressMain .progress-bar').show();
            $.each(data.files, function(index, file) {
                var node = $('<p/>')
                        .append($('<span/>').text(file.name));
                if (!index) {
                    node
                            .append('<br>')
                            .append(uploadButton.clone(true).data(data));
                }
                node.appendTo(data.context);
            });
        }).on('fileuploadprocessalways', function(e, data) {
            var index = data.index,
                    file = data.files[index],
                    node = $(data.context.children()[index]);
            if (file.preview) {
                node
                        .prepend('<br>')
                        .prepend(file.preview);
            }
            if (file.error) {
                node
                        .append('<br>')
                        .append($('<span class="text-danger"/>').text(file.error));
            }
            if (index + 1 === data.files.length) {
                data.context.find('button')
                        .text('Upload')
                        .prop('disabled', !!data.files.error);
            }
        }).on('fileuploadprogressall', function(e, data) {
            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('#SingleProgressMain .progress-bar').css(
                    'width',
                    progress + '%'
                    );
        }).on('fileuploaddone', function(e, data) {
            $.each(data.result.files, function(index, file) {
                if (file.url) {
                    var link = $('<a>')
                            .attr('target', '_blank')

                            .prop('href', file.url)
                            .hide();
                    $('#SingleProgressMain .progress-bar').css(
                            'width',
                            0 + '%'
                            );
                    var deleteLink = "<a class='delete' href='javascript:del(" + file.id + ")' id='delete_link'>Delete</a>";
                    var imageUrl = "<li><img src=" + file.url + " width='50' height='60'>";
                    $(".mainlist").empty().append(imageUrl + deleteLink + "</li>");
                    $(data.context.children()[index])
                            .wrap(link);
                } else if (file.error) {
                    var error = $('<span class="text-danger"/>').text(file.error);
                    $(data.context.children()[index])
                            .append('<br>')
                            .append(error);
                }
            });
        }).on('fileuploadfail', function(e, data) {
            $.each(data.files, function(index, file) {
                var error = $('<span class="text-danger"/>').text('File upload failed.');
                $(data.context.children()[index])
                        .append('<br>')
                        .append(error);
            });
        }).prop('disabled', !$.support.fileInput)
                .parent().addClass($.support.fileInput ? undefined : 'disabled');
    });
</script>
<script type="text/javascript">
    function del(id) {
        if (confirm("Are you sure you want to delete?"))
        {
            $('#imageId').val(id);
            $('#delete_form').submit();
        }
    }
</script>
{% endblock %}